@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')
@import global
$trashcan: url('../sass/trash-can.png')
body
    @include columnFlex
    justify-content: center
    align-items: center
    background-color: $primary-color
    font-family: 'Roboto', sans-serif
    white-space: pre-wrap
    word-wrap: break-word
    // height: 100vh
.container
    @include columnFlex
    justify-items: center
    align-items: stretch
    background-color: $secondary-color
    border-radius: 4px
    box-shadow: $box-shadow
    padding: 15px 5px
    text-align: left
    width: 92%
div, li
    @include rowFlex
    justify-content: space-between
    align-items: center
    // height: 2.5rem
    border-radius: 4px
    border: 0
    padding: .3rem
    gap: .2rem

img
    flex: .1
    height: 1.7rem

div
    gap: .5rem
    h1
        @include smlInterH3
input
    @include smlInterP
    border: 0
    padding: .3rem
    align-self: stretch
    border-radius: 4px

#userInput
    height: 2rem
    width: 100%

#addItem
    flex: .9
    outline: none
#checkB
    flex: .1
    border-radius: 4px
    height: 1.3rem
    align-self: center
    cursor: pointer
    transition: all 0.5s

#recyclImg
    flex: .1
    opacity: .5
    &:hover
        opacity: 1
#dotsImg
    opacity: 7

    &::active
        background-image: $trashcan
        background-size: 100%
        background-repeat: no-repeat
#clearAllBtn
    @include button

    &:active
        transform: scale(0.98)

    &:focus
        outline: 0
.edit
    background-color: $inputColor
