@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')
@import global

body
    @include columnFlex
    justify-content: center
    align-items: center
    background-color: $primary-color
    font-family: 'Roboto', sans-serif
    height: 100vh
.container
    @include columnFlex
    justify-items: center

    background-color: $secondary-color
    border-radius: 4px
    box-shadow: $box-shadow
    padding: 15px 5px
    text-align: left
    width: 92%
div, li
    @include rowFlex
    justify-content: space-between
    align-items: center
    height: 2.5rem
    border-radius: 4px
    border: 0
    padding: .1rem
    align-self: stretch
    gap: .2rem

img

    height: 2rem
li
    .onEdit
        background-color: rgb(253, 227, 178)
div
    h1
        @include smlInterH3
    #userInput
        width: 100%
input
    height: 2rem
    border: 0
    padding: .3rem
    align-self: stretch
    border-radius: 2px

#checkB
    border-radius: 4px
    width: 5vw
    align-self: center

    cursor: pointer
    transition: all 0.5s

#recyclImg
    opacity: .5
    &:hover
        opacity: 1
#dotsImg
    opacity: 7

    &::active
        // background-image: url(../assets/trash-can.png)
        background-size: 100%
        background-repeat: no-repeat
#clearBtn
    @include button

    &:active
        transform: scale(0.98)

    &:focus
        outline: 0
